.git
.gitignore
Dockerfile
.dockerignore
*.md
node_modules
npm-debug.log
config/local.yml
test/
tests/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv/
ENV/
build/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.cache