version: '3.8'

services:
  VintageVigil:
    image: samiya777/vintagevigil:latest
    container_name: VintageVigil
    network_mode: bridge
    restart: unless-stopped
    volumes:
      - /root/VintageVigil/lx:/root/VintageVigil/user/lx
    environment:
      - TELEGRAM_BOT_TOKEN_1=
      - TELEGRAM_BOT_TOKEN_2=
      - WECOM_CORP_ID=
      - WECOM_CORP_SECRET=
      - WECOM_AGENT_ID_1=